.page{
    width: 80%; height: 100%;
    margin-left: auto; margin-right: auto;
    background-color: rgba(255, 255, 255, 0.9);
}
.mat-tab-labels, .mat-tab-label, .mat-tab-link {
    color: #000000;
    background-color: rgba(255, 255, 255, 0.9);
  }
 .page::-webkit-scrollbar {
     width: 2px;
    background-color: transparent;
    }

 .page::-webkit-scrollbar-thumb {
    background-color: #000000;
 }
 mat-form-field{
     width: 50%;
 }
