.absolute{
    position: absolute;
    top: 0%; left: 0%;
    width: 100%; height: 100%;
    display: grid;
    grid-template-areas: 'center center center' 'center center center' 'footer footer footer';
    grid-template-rows: 10% 85% 5%;
    grid-template-columns: 20% 60% 20%;
    background: rgba(0, 0, 0,0.4);
    overflow: auto;
}
.absolute::-webkit-scrollbar {
    width: 2px;
   background-color: transparent;
   }

.absolute::-webkit-scrollbar-thumb {
   background-color: #3f51b5;
}
mat-tab-group{
    width: 100%;
}
.center{
    grid-area: center;
    width: 100%; height: 100%;
    text-align: center;
}
.footer{
    grid-area: footer;
    width: 100%; height: 100%;
    text-align: right;
}

